<form>
  <label class="data-label" for="name">Name: </label>
  <input
    type="text"
    id="name"
    name="name"
    placeholder="Full name"
    class="data-input"
    style="width: 150px; margin-bottom: 20px"
    [(ngModel)]="name"
  />
  <br />
  <label class="data-label" for="weight">Weight: </label>
  <input
    class="data-input"
    id="weight"
    type="number"
    placeholder="pounds"
    [(ngModel)]="weight"
    name="weight"
    style="margin-right: 20px"
  />
  <label class="data-label" for="height">Height: </label>
  <input
    class="data-input"
    id="height"
    type="number"
    placeholder="inches"
    [(ngModel)]="height"
    name="height"
  />
  <br />
  <button class="data-sbt-btn" (click)="calculate_bmi()">Calculate</button>
</form>
